@model MyRecipe.Data.DTOs.UserRegistrationDTO
@{
    Layout = null;
    ViewData["Title"] = "Welcome";
    string returnUrl = ViewData["ReturnUrl"] as string;
    string error = TempData["Error"] as string;
    string errorUsername = TempData["ErrorUsername"] as string;
    string errorEmail = TempData["ErrorEmail"] as string;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyRecipe</title>

    <!-- Font awesome icons -->
    @* <script src="https://kit.fontawesome.com/1fba93b916.js" crossorigin="anonymous"></script> *@

    <!-- Font awesome icons pro -->
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.css"/>

    <!-- https://bootswatch.com/minty/ -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-minty.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Title icon -->
    <link rel="shortcut icon" href="~/img/System/logo.svg" >
</head>

<body class="d-flex flex-column overflow-hidden min-vh-100 vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/img/System/logo.svg" width="30" height="24" />
                    <span>MyRecipe</span>
                </a>
                <div class="collapse navbar-collapse justify-content-end">
                    <form class="d-flex" action="/Auth/Login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" asp-antiforgery="true"
                        method="POST">
                        <div class="row justify-content-end">
                            <div class="col-lg-4">
                                <div class="input-group @(!string.IsNullOrEmpty(error) ? "has-validation" : "")">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    <input type="text" name="username" placeholder="Username"
                                        class="form-control @(!string.IsNullOrEmpty(error) ? "is-invalid" : "")"
                                        required />
                                    @if (!string.IsNullOrEmpty(error))
                                    {
                                        <div class="invalid-feedback">@error</div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                    <input type="password" name="password" placeholder="Password"
                                        class="form-control @(!string.IsNullOrEmpty(error) ? "is-invalid" : "")"
                                        required />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </nav>
    </header>

    <main role="main" class="flex-grow-1 overflow-auto">
        <div class="container h-100 pt-5">
            <div class="d-flex flex-row align-items-top h-100 pt-5">
                <div class="col-lg-8 h-100">
                    <img src="~/img/System/chef.svg" class="pt-5 pb-5" />
                    <h3>Share your recipe with the world!</h3>
                </div>
                <div class="col-lg-4">
                    <div class="container">
                        <h3 class="pt-4">Create an account</h3>
                        <form id="registrationForm" action="/Auth/Register" method="POST" class="pt-4" asp-antiforgery="true">
                            <div class="form-group">
                                <label for="FirstName" class="form-label">First name</label>
                                <div class="input-group">
                                    <input type="text" asp-for="FirstName" placeholder="Enter first name"
                                        class="form-control" />
                                </div>
                                <small>
                                    <span class="text-danger" asp-validation-for="FirstName"></span>
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="LastName" class="form-label mt-2">Last Name</label>
                                <div class="input-group">
                                    <input type="text" asp-for="LastName" placeholder="Enter last name"
                                        class="form-control" />
                                </div>
                                <small>
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="BirthDate" class="form-label mt-2">Date of Birth</label>
                                <div class="input-group">
                                    <input type="date" asp-for="BirthDate" class="form-control" />
                                </div>
                                <small>
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="Email" class="form-label mt-2">Email</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></i></span>
                                    <input type="email" asp-for="Email" placeholder="Enter email"
                                        class="form-control" />
                                </div>
                                <small>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </small>
                                @if (!string.IsNullOrEmpty(errorEmail))
                                {
                                    <small>
                                        <span class="text-danger"> @errorEmail</span>
                                    </small>
                                }
                            </div>
                            <div class="form-group">
                                <label for="Username" class="form-label mt-2">Username</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    <input type="text" asp-for="Username" placeholder="Enter username"
                                        class="form-control" />
                                </div>
                                <small>
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </small>
                                @if (!string.IsNullOrEmpty(errorUsername))
                                {
                                    <small>
                                        <span class="text-danger"> @errorUsername</span>
                                    </small>
                                }
                            </div>
                            <div class="form-group">
                                <label for="Password" class="form-label mt-2">Password</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                    <input type="password" asp-for="Password" placeholder="Enter password"
                                        class="form-control" />
                                </div>
                                <small>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword" class="form-label mt-2">Confirm password</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    <input type="password" asp-for="ConfirmPassword" placeholder="Confirm password"
                                        class="form-control" />
                                </div>
                                <small>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </small>
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="w-100 btn btn-secondary">Create an account</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>