﻿<div id="deleteConfirmationModal" class="modal mt-5">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalTitle" class="modal-title">Delete</h5>
                <button type="button" class="btn-close" onclick="HideDeleteConfirmationModal()" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <h5 id="modalText">Are you sure?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" onclick="HideDeleteConfirmationModal()">Close</button>
                <button id="confirmDeleteBtn" type="button" class="btn btn-secondary">Delete</button>
            </div>
        </div>
    </div>
</div>