﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyRecipe</title>

    <!-- Font awesome icons -->
    @* <script src="https://kit.fontawesome.com/1fba93b916.js" crossorigin="anonymous"></script> *@

    <!-- Font awesome icons pro -->
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.css" />

    <!-- https://bootswatch.com/minty/ -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-minty.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Title icon -->
    <link rel="shortcut icon" href="~/img/System/logo.svg">

</head>

<body class="vh-100 overflow-hidden">
    <header class="zindex-fixed">
        <nav class="navbar zindex-fixed navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/img/System/logo.svg" width="30" height="24" />
                    <span>MyRecipe</span>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nbt"
                    aria-controls="nbt" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="nbt">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @{
                                string homeActive = Context.Request.Path == "/Recipe/List" ? "active" : "";
                            }
                            <a class="nav-link @homeActive" href="/Recipe/List">
                                @* <i class="fal fa-home fa-lg text-secondary"></i> *@
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            @{
                                string myRecipesActive = Context.Request.Path == "/Recipe/MyRecipes" ? "active" : "";
                            }
                            <a class="nav-link @myRecipesActive" href="/Recipe/MyRecipes">
                                @* <i class="fal fa-book fa-lg text-secondary"></i> *@
                                My recipes
                            </a>
                        </li>
                        <li class="nav-item">
                            @{
                                string favouritesActive = Context.Request.Path == "/Recipe/Favourites" ? "active" : "";
                            }
                            <a class="nav-link @favouritesActive" href="/Recipe/Favourites">
                                @* <i class="fal fa-book-heart fa-lg text-secondary"></i> *@
                                Favourites
                            </a>
                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                @{
                                    string usersActive = Context.Request.Path == "/User" ? "active" : "";
                                }
                                <a class="nav-link @usersActive" href="/User">
                                    @* <i class="fal fa-user-friends fa-lg text-secondary"></i> *@
                                    Users
                                </a>
                            </li>
                            <li class="nav-item">
                                @{
                                    string productsActive = Context.Request.Path == "/Product" ? "active" : "";
                                }
                                <a class="nav-link @productsActive" href="/Product">
                                    @* <i class="fal fa-shopping-basket fa-lg text-secondary"></i> *@
                                    Products
                                </a>
                            </li>
                            <li class="nav-item">
                                @{
                                    string categoriesActive = Context.Request.Path == "/Category" ? "active" : "";
                                }
                                <a class="nav-link @categoriesActive" href="/Category">
                                    @* <i class="fal fa-bars fa-lg text-secondary"></i> *@
                                    Categories
                                </a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <div>
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                </a>

                                <div class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <form id="logoutForm" method="GET" class="form-inline" asp-area=""
                                        asp-controller="Auth" asp-action="Logout">
                                        <button id="logout" type="submit" class="dropdown-item">Logout</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>