@model dynamic
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var adjacents = 2; // Number of pages to show on each side of the Current page
    var startPage = (Model.PageIndex - adjacents) >= 1 ? (Model.PageIndex - adjacents) : 1;
    var endPage = (startPage + adjacents * 2) <= Model.TotalPages ? (startPage + adjacents * 2) : Model.TotalPages;

    if (Model.PageIndex > endPage - adjacents) {
        startPage -= Model.PageIndex + adjacents - endPage;
        
        if (startPage <= 0) {
            startPage = 1;
        }
    }

    var pages = new List<int>();

    for (int p = startPage; p <= endPage; p++){
        pages.Add(p);
    }


    var pageActive = "";
}

<div class="row mt-3">
    <div>
        <ul class="pagination float-end mb-3">
            <li class="page-item @prevDisabled">
                <a onclick="RedirectToPage(1)" class="page-link">&laquo;</a>
            </li>

            @foreach (var pageNum in pages)
            {
                pageActive = pageNum == Model.PageIndex ? "active" : ""; 
                <li class="page-item @pageActive">
                    <a onclick="RedirectToPage(@pageNum)" class="page-link">@pageNum</a>
                </li>
            }
            
            <li class="page-item @nextDisabled">
                <a onclick="RedirectToPage(@Model.TotalPages)" class="page-link">&raquo;</a>
            </li>
        </ul>
    </div>
</div>