@model MyRecipe.Data.DTOs.RecipeDTO

@{
    string imagePath = "~/img/Recipe/" + (Model.ImagePath ?? "no-recipe.png");
}

<div class="card border-0">
    <img src="@imagePath" class="card-img-top text-center border-bottom border-2 recipe-card-img pb-2"
        asp-append-version onclick="ShowRecipeDetails(@Model.Id)">
    <div class="card-body px-0">
        <div class="row justify-content-between">
            <div class="col-auto mb-0">
                <div class="d-inline-block text-dark">
                    @Model.Name
                </div>
                @if (Model.FavouriteToCurrentUser)
                {
                    <i data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from favourites"
                    class="fas fa-heart fa-md text-danger ms-1 hover-pointer add-to-favourites-hover-color"
                    onclick="RemoveRecipeFromFavourites(@Model.Id)"></i>
                }
                else
                {
                    <i data-bs-placement="top" title="Add to favourites"
                    class="fal fa-heart fa-md text-danger ms-1 hover-pointer add-to-favourites-hover-color"
                    onclick="AddRecipeToFavourites(@Model.Id)"></i>
                }
            </div>
            <div class="col text-end">
                @{
                    int timeToCookMinutes =  Model.TimeToCook.Minutes;

                    if (Model.TimeToCook.Hours > 0) {
                        timeToCookMinutes += Model.TimeToCook.Hours * 60;
                    }
                }
                <i class="fal fa-clock text-dark fa-md"></i>
                @timeToCookMinutes min
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col">
                <small><i class="far fa-user"></i> @Model.CreatedBy</small>
            </div>
            <div class="col text-end">
                <i class="fal fa-utensils text-dark fa-md"></i>
                @Model.Portions
            </div>
        </div>

    </div>
</div>
