﻿@model MyRecipe.Data.DTOs.CreateEditCategoryDTO

<div id="createCategoryModal" class="modal mt-5">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Category</h5>
                <button type="button" class="btn-close" onclick="HideCreateCategoryModal()" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="createCategoryForm" asp-action="Create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Name" class="form-label mt-2">Name</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Name" placeholder="Enter Category name"
                                class="form-control" minlength="2" required />
                        </div>
                        <small>
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="Image" class="form-label mt-2">Image</label>
                        <div class="input-group">
                            <input type="file" accept="image/*" asp-for="@Model.Image" onchange="updateCreateEditCategoryImagePreview(event, 'createCategoryImage')" class="form-control" required />
                        </div>
                        <div class="form-control mt-08 d-none">
                            <img id="createCategoryImage" class="create-category-image" />
                        </div>
                        <small>
                            <span class="text-danger" asp-validation-for="@Model.Image"></span>
                        </small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SubmitCreateCategoryForm()">Create</button>
                <button type="button" class="btn btn-secondary" onclick="HideCreateCategoryModal()">Close</button>
            </div>
        </div>
    </div>
</div>