﻿@model MyRecipe.Data.DTOs.CreateEditCategoryDTO

<div id="editCategoryModal" class="modal mt-5">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Category</h5>
                <button type="button" class="btn-close" onclick="HideEditCategoryModal()" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="editCategoryForm" asp-route-categoryId="@Model.Id" asp-action="EditCategory" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Name" class="form-label mt-2">Name</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Name" placeholder="Enter Category name"
                                class="form-control" minlength="2" required />
                        </div>
                        <small>
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        </small>
                    </div>

                    <div class="form-group">
                        @{
                            string imagePath = "/img/Category/" + Model.ImagePath;
                        }
                        <label for="Image" class="form-label mt-2">Image</label>
                        <div class="input-group">
                            <input type="file" accept="image/*" asp-for="@Model.Image" onchange="updateCreateEditCategoryImagePreview(event, 'editCategoryImage', '@imagePath')" class="form-control" />
                        </div>
                        <div class="form-control mt-08 d-flex justify-content-center">
                            <img id="editCategoryImage" class="edit-category-image" src="@imagePath" />
                        </div>
                        <small>
                            <span class="text-danger" asp-validation-for="@Model.Image"></span>
                        </small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SubmitEditCategoryForm()">Save</button>
                <button type="button" class="btn btn-secondary" onclick="HideEditCategoryModal()">Close</button>
            </div>
        </div>
    </div>
</div>