﻿@model MyRecipe.Data.DAOs.Shared.PaginatedList<MyRecipe.Models.Category>
@using MyRecipe.Data.DTOs
@{
    ViewData["Title"] = "Categories";
    var search = ViewData["search"];
}

<div class="d-flex flex-row vh-94 overflow-auto">
    <div class="container pt-4">
        <div class="row justify-content-between">
            <div class="col-lg-6 ps-0 align-self-center align-center">
                <h4 class="mb-0 me-2 d-inline-block">Manage categories</h4>
                <button class="btn btn btn-outline-primary" onclick="ShowCreateCategoryModal()"> <i
                        class="ml-5 fal fa-plus"></i> Create category</button>
            </div>
            <div class="col-lg-4 pe-0">
                <form asp-action="Index" method="GET">
                    <div class="input-group">
                        <input type="text" name="search" value="@search" class="form-control"
                            placeholder="Search a category . . ." aria-label="category"
                            aria-describedby="button-addon" />
                        <input type="submit" class="btn btn-primary" id="button-addon" value="Search" />
                        <button type="button" onclick="RedirectToPage(1, true)" class="btn btn-secondary"
                            id="button-addon2">Clear</button>
                    </div>
                </form>
            </div>
        </div>


        <ul class="list-group pt-4">
            @foreach (var category in Model)
            {
                string imagePath = "/img/Category/" + category.ImagePath;

                <li class="list-group-item d-flex flex-row row row-cols-3 align-items-center">
                    <div class="col-1 overflow-hidden category-list-img-wrapper">
                        <img src="@imagePath" class="w-100 h-100">
                    </div>
                    <div class="col fs-5">
                        @category.Name
                    </div>
                    <div class="col ms-auto text-end">
                        <span role="button" class="me-2 text-primary cursor-pointer"
                        onclick="ShowEditCategoryModal(@category.Id)">
                            <i class="fal fa-pen text-primary"></i>
                            Edit
                        </span>
                        @* <div class="vr"></div> *@
                        <form class="d-inline-block" method="POST" asp-controller="Category" asp-action="DeleteCategory"
                        asp-route-categoryId="@category.Id">
                            <span role="button" class="text-primary cursor-pointer"
                            onclick="ShowDeleteConfirmationModal(this, 'Delete category', 'Are you sure you want to delete category \'@category.Name\'?')">
                                <i class="fal fa-trash-alt text-primary"></i>
                                Delete
                            </span>
                        </form>
                    </div>
                </li>
            }
        </ul>
        <partial name="_PaginationPartial" model="@Model" />
    </div>
    <partial name="_CreateCategoryModalPartial" model="new CreateEditCategoryDTO()" />
    <partial name="_EditCategoryModalPartial" model="new CreateEditCategoryDTO()" />
    <partial name="_DeleteConfirmationModalPartial" />
</div>
