﻿@model MyRecipe.Models.User
@using MyRecipe.Data.Enums

<div id="editUserModal" class="modal mt-5">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user <b>@Model.Username</b></h5>
                <button type="button" class="btn-close" onclick="HideEditUserModal()" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="editUserForm" asp-action="EditUser"
                    asp-route-username="@Model.Username" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Role" class="form-label mt-2">Role</label>
                        <div class="input-group">
                            <select class="form-select" id="Role" asp-for="@Model.Role.Name">
                                <option>@UserRoleEnum.Client</option>
                                <option>@UserRoleEnum.Admin</option>
                            </select>
                        </div>
                        <small>
                            <span class="text-danger" asp-validation-for="@Model.Role.Name"></span>
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="Status" class="form-label mt-2">Status</label>
                        <div class="input-group">
                            <select class="form-select" id="Status" asp-for="@Model.Status">
                                <option>@UserStatusEnum.Active</option>
                                <option>@UserStatusEnum.Inactive</option>
                            </select>
                        </div>
                        <small>
                            <span class="text-danger" asp-validation-for="@Model.Status"></span>
                        </small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SubmitEditUserForm()">Save</button>
                <button type="button" class="btn btn-secondary" onclick="HideEditUserModal()">Close</button>
            </div>
        </div>
    </div>
</div>