﻿@model MyRecipe.Data.DAOs.Shared.PaginatedList<MyRecipe.Models.User>
@using MyRecipe.Data.Enums;
@{
    ViewData["Title"] = "Users";
    var search = ViewData["search"];
}

<div class="d-flex flex-row vh-94 overflow-auto">
    <div class="container pt-4">
        <div class="row mx-1 justify-content-between">
            <div class="col-lg-6 ps-0 align-self-center align-center">
                <h4 class="mb-0 me-2 d-inline-block">Manage users</h4>
            </div>
            <div class="col-lg-4 pe-0">
                <form asp-action="Index" method="GET">
                    <div class="input-group">
                        <input type="text" name="search" value="@search" class="form-control"
                            placeholder="Search a user . . ." aria-label="user" aria-describedby="button-addon" />
                        <input type="submit" class="btn btn-primary" id="button-addon" value="Search" />
                        <button type="button" onclick="RedirectToPage(1, true)" class="btn btn-secondary"
                            id="button-addon2">Clear</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="table-responsive pt-4">
            <table class="table table-borderless table-hover">
                <thead class="border-bottom">
                    <tr>
                        <th>Username</th>
                        <th>Full name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Username</td>
                            <td>@user.FirstName @user.LastName</td>
                            <td>
                                @user.Email
                            </td>
                            <td>
                                @if (@user.Role.Name == UserRoleEnum.Admin)
                                {
                                    <span class="badge bg-info">@user.Role.Name</span>
                                }
                                else
                                {
                                    <span class="badge bg-warning">@user.Role.Name</span>
                                }
                            </td>
                            <td>
                                @if (@user.Status == UserStatusEnum.Active)
                                {
                                    <span class="badge bg-success">@user.Status</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">@user.Status</span>
                                }
                            </td>
                            <td class="text-end">
                                <span role="button" class="text-primary cursor-pointer"
                                onclick="ShowEditUserModal('@user.Username')">
                                    <i class="fal fa-pen text-primary"></i>
                                    Edit
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <partial name="_PaginationPartial" model="@Model" />
    </div>
    <partial name="_EditUserModalPartial" model="new User()" />
</div>
