﻿@model MyRecipe.Models.Product

<div id="createProductModal" class="modal mt-5">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create product</h5>
                <button type="button" class="btn-close" onclick="HideCreateProductModal()" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="createProductForm" asp-action="Create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Name" class="form-label mt-2">Name</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Name" placeholder="Enter product name"
                                class="form-control" minlength="2" required />
                        </div>
                        <small>
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="Note" class="form-label mt-2">Note</label>
                        <div class="input-group">
                            <textarea asp-for="@Model.Note" placeholder="Enter note" class="form-control"></textarea>
                        </div>
                        <small>
                            <span class="text-danger" asp-validation-for="@Model.Note"></span>
                        </small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SubmitCreateProductForm()">Create</button>
                <button type="button" class="btn btn-secondary" onclick="HideCreateProductModal()">Close</button>
            </div>
        </div>
    </div>
</div>