﻿@model MyRecipe.Data.DAOs.Shared.PaginatedList<MyRecipe.Models.Product>
@{
    ViewData["Title"] = "Products";
    var search = ViewData["search"];
}

<div class="d-flex flex-row vh-94 overflow-auto">
    <div class="container pt-4">
        <div class="row mx-1 justify-content-between">
            <div class="col-lg-6 ps-0 align-self-center align-center">
                <h4 class="mb-0 me-2 d-inline-block">Manage products</h4>
                <button class="btn btn btn-outline-primary" onclick="ShowCreateProductModal()"> <i
                        class="ml-5 fal fa-plus"></i> Create product</button>
            </div>
            <div class="col-lg-4 pe-0">
                <form asp-action="Index" method="GET">
                    <div class="input-group">
                        <input type="text" name="search" value="@search" class="form-control"
                            placeholder="Search a product . . ." aria-label="product" aria-describedby="button-addon" />
                        <input type="submit" class="btn btn-primary" id="button-addon" value="Search" />
                        <button type="button" onclick="RedirectToPage(1, true)" class="btn btn-secondary"
                            id="button-addon2">Clear</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="table-responsive pt-4">
            <table class="table table-borderless table-hover">
                <thead class="border-bottom">
                    <tr>
                        <th width="25%">Name</th>
                        <th width="60%">Note</th>
                        <th width="15%"></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td width="25%">@product.Name</td>
                            <td width="60%" class="text-truncate" style="max-width:100px;">
                                @(product.Note?.Length > 0 ? product.Note : "-")
                            </td>
                            <td width="15%" class="text-end">
                                <span role="button" class="me-2 text-primary cursor-pointer"
                                onclick="ShowEditProductModal(@product.Id)">
                                    <i class="fal fa-pen text-primary"></i>
                                    Edit
                                </span>
                                <form class="d-inline-block" method="POST" asp-controller="Product"
                                asp-action="DeleteProduct" asp-route-productId="@product.Id">
                                    <span role="button" class="text-primary cursor-pointer"
                                    onclick="ShowDeleteConfirmationModal(this, 'Delete product', 'Are you sure you want to delete product \'@product.Name\'?')">
                                        <i class="fal fa-trash-alt text-primary"></i>
                                        Delete
                                    </span>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <partial name="_PaginationPartial" model="@Model" />
    </div>
</div>

<partial name="_CreateProductModalPartial" model="new Product()" />
<partial name="_EditProductModalPartial" model="new Product()" />
<partial name="_DeleteConfirmationModalPartial" />