﻿@media screen and (max-width: 576px) {
    .sm-hide {
        display: none !important;
    }
    .category-menu-item img {
        margin-bottom: 0.2rem;
    }
    .nav-img-active img {
        margin-bottom: 0;
    }
    .nav-img-active {
        border-bottom: 0.2rem solid #5a5a5a;
        border-radius: 0.2rem;
    }
    .sidebar {
        width: 4rem;
    }
}

@media screen and (min-width: 576px) {
    .sidebar {
        min-width: 12rem;
    }
}

.mb-2 {
    margin-bottom: 0.125rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #78c2ad!important;
}

.zindex-dropdown {
    z-index: 1000;
}

.zindex-sticky {
    z-index: 1020;
}

.zindex-fixed {
    z-index: 1030;
}

.zindex-modal {
    z-index: 1040;
}

.zindex-offcanvas {
    z-index: 1050;
}

.zindex-modal {
    z-index: 1060;
}

.zindex-popover {
    z-index: 1070;
}

.zindex-tooltip {
    z-index: 1080;
}

.category-menu-item img {
    width: 2.4rem;
    height: 2.4rem;
    background-size: contain;
}

.create-category-image,
.edit-category-image,
.category-list-img-wrapper,
.create-edit-recipe-image {
    width: 6.25rem;
    height: 6.25rem;
}

.create-edit-recipe-image {
    object-fit: contain;
}

.category-list-img-wrapper img {
    object-fit: contain;
}

.recipe-card-img {
    height: 13rem;
    object-fit: cover;
}

.recipe-card-img:hover {
    cursor: pointer !important;
    border-color: #78c2ad !important;
    transition: border 250ms ease-in-out;
}

.recipe-card-container {
    min-width: 20rem;
    max-width: 20rem;
}

.page-link:hover {
    cursor: pointer;
}

.mt-08 {
    margin-top: 0.5rem;
}

.pb-7 {
    padding-bottom: 4.5rem;
}

.px-7 {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
}

.lh-20 {
    line-height: 1.25rem;
}

.fs-27 {
    font-size: 1.7rem;
}

.hover-pointer:hover {
    cursor: pointer;
}

.carousel-image {
    height: 31rem;
    object-fit: contain;
}

.create-edit-recipe-form {
    max-height: 40rem;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 1rem;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 0.2rem;
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 0.2rem;
    background: #d2d2cf;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.icon-hover-color:hover {
    color: #5a5a5a !important;
}

.add-to-favourites-hover-color:hover {
    color: #fc3321 !important;
}

.vh-94 {
    height: 94vh !important;
}