﻿@model MyRecipe.Data.DTOs.CreateRecipeDTO
@{
    string formAction = Model.Recipe.Id == 0 ? "Create" : "Edit";
}

<form method="POST" action="@formAction" id="createEditRecipeForm" enctype="multipart/form-data" asp-antiforgery="true"
    class="create-edit-recipe-form custom-scrollbar">
    <input type="hidden" asp-for="@Model.Recipe.Id" value="@Model.Recipe.Id" />
    <div class="form-group">
        <label for="Name" class="form-label mt-2">Name</label>
        <div class="input-group">
            <input type="text" asp-for="@Model.Recipe.Name" placeholder="Enter recipe name" class="form-control"
                minlength="3" required />
        </div>
        <small>
            <span class="text-danger" asp-validation-for="@Model.Recipe.Name"></span>
        </small>
    </div>

    <div class="form-group">
        <label for="Category" class="form-label mt-2">Category</label>
        <div class="input-group">
            <select class="form-select" asp-for="@Model.Recipe.CategoryId" required>
                <option value="" selected disabled>Choose category</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <small>
            <span class="text-danger" asp-validation-for="@Model.Recipe.CategoryId"></span>
        </small>
    </div>

    <div id="products" class="form-group">
        @for (int rp = 0; rp < Model.Recipe.Products.Count(); rp++)
        {
            <div id="recipeProduct@(rp)" class="row pb-2">
                <input type="hidden" name="Recipe.Products.Index" value="@rp" />
                <div class="col-lg-7">
                    <label for="Product" class="form-label mt-2">Product</label>
                    <select class="form-select" asp-for="@Model.Recipe.Products[rp].ProductId" required>
                        <option value="" selected disabled>Choose product</option>
                        @foreach (var product in Model.Products)
                        {
                            <option value="@product.Id">@product.Name</option>
                        }
                    </select>
                </div>

                <div class="col-lg-2">
                    <label for="Quantity" class="form-label mt-2">Quantity</label>
                    <input type="number" class="form-control" asp-for="@Model.Recipe.Products[rp].Quantity"
                    placeholder="Quantity" value="@Model.Recipe.Products[rp].Quantity" min="1" required />
                    <small>
                        <span class="text-danger" asp-validation-for="@Model.Recipe.Products[rp].Quantity"></span>
                    </small>
                </div>

                <div class="col-lg-2">
                    <label for="Unit" class="form-label mt-2">Unit</label>
                    <select class="form-select" asp-for="@Model.Recipe.Products[rp].UnitId" required>
                        @foreach (var unit in Model.MeasurementUnits)
                        {
                            <option value="@unit.Id">@unit.Short</option>
                        }
                    </select>
                </div>

                <div class="col-lg-1">
                    <button type="button"
                    class="mt-5 btn-sm btn-close @(@Model.Recipe.Products.Count == 1 ? "disabled" : "")"
                    onclick="CreateRecipeRemoveProductField(@rp)">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        }

        <div class="container-fluid">
            <div class="row justify-content-start">
                <button type="button" class="col-auto btn btn-link" onclick="CreateEditRecipeFormAddProductField()">Add
                    product</button>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col">
            <label for="TimeToCook" class="form-label mt-2">Time to cook <small>(hh:mm)</small></label>
            <div class="input-group">
                @{
                    string hours = Model.Recipe.TimeToCook.Hours < 10
            ? $"0{Model.Recipe.TimeToCook.Hours}"
            : Model.Recipe.TimeToCook.Hours.ToString();

                    string minutes = Model.Recipe.TimeToCook.Minutes < 10
                    ? $"0{Model.Recipe.TimeToCook.Minutes}"
                    : Model.Recipe.TimeToCook.Minutes.ToString();

                    string timeToCook = $"{hours}:{minutes}";
                }
                <input class="form-control" type="text" asp-for="@Model.Recipe.TimeToCook" value="@timeToCook"
                    pattern="(2[0-3]|[01][0-9]):([1-5][0-9]|[0-5][1-9])" required />
            </div>
            <small>
                <span class="text-danger" asp-validation-for="@Model.Recipe.TimeToCook"></span>
            </small>
        </div>
        <div class="col">
            <label for="Portions" class="form-label mt-2">Portions</label>
            <div class="input-group">
                <input asp-for="@Model.Recipe.Portions" value="@Model.Recipe.Portions" min="1"
                    placeholder="Enter number of portions" class="form-control" />
            </div>
            <small>
                <span class="text-danger" asp-validation-for="@Model.Recipe.Portions"></span>
            </small>
        </div>
    </div>

    <div class="form-group">
        <label for="Description" class="form-label mt-2">Description</label>
        <div class="input-group">
            <textarea asp-for="@Model.Recipe.Description" placeholder="Enter recipe description..."
                class="form-control"></textarea>
        </div>
        <small>
            <span class="text-danger" asp-validation-for="@Model.Recipe.Description"></span>
        </small>
    </div>

    <div class="form-group">
        <label for="RecipeImages" class="form-label mt-2">Images</label>
        <div class="input-group">
            <input asp-for="@Model.RecipeImages" class="form-control" multiple
                onchange="updateCreateEditRecipeImagesPreview(event)" />
        </div>

        <div id="recipeImages" class="row">
            @foreach (RecipeImage recipeImage in Model.Recipe.RecipeImages)
            {
                string imagePath = "/img/Recipe/" + recipeImage.ImagePath;
                <div class="col-auto mt-08 d-flex">
                    <img src="@imagePath" class="create-edit-recipe-image border rounded p-2" />
                </div>
            }
        </div>
        <small>
            <span class="text-danger" asp-validation-for="@Model.RecipeImages"></span>
        </small>
    </div>
</form>