﻿@model MyRecipe.Data.DAOs.Shared.PaginatedList<MyRecipe.Data.DTOs.RecipeDTO>
@{
  ViewData["Title"] = "My Recipes";
  var search = ViewData["search"];
}

<div class="d-flex flex-row vh-94 overflow-auto">
  <div class="container pt-4">
    <div class="row mx-1 justify-content-between">
      <div class="col-lg-6 align-self-center align-center">
        <h4 class="mb-0 me-2 d-inline-block">Favourite recipes</h4>
      </div>
      <div class="col-lg-4">
        <form asp-action="FavouriteRecipes" method="GET">
          <div class="input-group">
            <input type="text" name="search" value="@search" class="form-control" placeholder="Search a recipe . . ."
              aria-label="recipe" aria-describedby="button-addon" />
            <input type="submit" class="btn btn-primary" id="button-addon" value="Search" />
            <button type="button" onclick="RedirectToPage(1, true)" class="btn btn-secondary"
              id="button-addon2">Clear</button>
          </div>
        </form>
      </div>
    </div>


      <div class="row justify-content-start pt-4">
        @foreach (var recipe in Model)
        {
          <div class="col mx-1 pt-3 recipe-card-container">
            <partial name="_RecipePartial" model="recipe" />
          </div>
        }
      </div>
      <partial name="_PaginationPartial" model="@Model" />
  </div>
</div>