﻿@model MyRecipe.Data.DTOs.RecipesCategoriesDTO
@{
    ViewData["Title"] = "All Recipes";
    string search = ViewData["search"] as string;
    string productIds = ViewData["productIds"] as string;
    var categoryId = ViewData["categoryId"];
}

<div class="d-flex flex-row vh-94 overflow-auto">
    <div class="col-2 sticky-top sidebar bg-light pt-2">
        @* <h5 class="ps-2">Filter</h5> *@
        <h7 class="ps-2 sm-hide">Categories</h7>
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <ul class="navbar-nav w-100">
                    @foreach (var category in Model.Categories)
                    {
                            <li class="nav-item d-flex category-menu-item" onclick="FilterRecipesByCategory(@category.Id)">
                                <div class="col hover-pointer flex-grow-0 align-self-center @(category.Id == Model.SelectedCategory.Id ? "nav-img-active" : "")">
                                @{
                                    string imagePath = "~/img/Category/" + category.ImagePath;
                                }
                                    <img src=@imagePath class="" asp-append-version />
                                </div>
                                <div
                            class="col ps-2 sm-hide hover-pointer align-self-center nav-link @(category.Id == Model.SelectedCategory.Id ? "active" : "")">
                                @category.Name
                                </div>
                            @if (category.Id == Model.SelectedCategory.Id)
                            {
                                        <span class="ms-auto sm-hide nav-link active align-self-center">
                                            <i class="far fa-check"></i>
                                        </span>
                            }
                            </li>
                    }
                </ul>
            </div>
        </nav>
        <h7 class="ps-2 sm-hide">Products</h7>
        <div class="pt-2 px-3">
        <select id="recipeProductSelect" multiple class="form-select" size="10">
                @foreach (var product in @Model.Products)
                {
                <option 
                value="@product.Id"
                selected="@Model.SelectedProductIds.Contains(@product.Id)"
                onclick="FilterRecipesByProduct(this.value)"
            >@product.Name</option>
                }   
      </select>
      </div>
    </div>
    <div class="col-10">
        <div class="container pt-4">
            <div class="row justify-content-between mx-1">
                <div class="col-lg-6 align-self-center align-center">
                    <h4 class="mb-0 me-2 d-inline-block">@Model.SelectedCategory.Name</h4>
                </div>
                <div class="col-lg-4">
                    <form asp-action="Index" method="GET">
                        <div class="input-group">
                            <input type="text" name="search" value="@search" class="form-control" placeholder="Search a recipe . . ."
                            aria-label="recipe" aria-describedby="button-addon" />
                            <input type="submit" class="btn btn-primary" id="button-addon" value="Search" />
                            <button type="button" onclick="RedirectToPage(1, true)" class="btn btn-secondary"
                            id="button-addon2">Clear</button>

                        </div>
                        <input type="hidden" name="productIds" value="@productIds" />
                        <input type="hidden" name="categoryId" value="@categoryId" />
                    </form>
                </div>
            </div>

            <div class="row justify-content-start pt-4">
                @foreach (var recipe in Model.Recipes)
                {
                    <div class="col mx-1 pt-3 recipe-card-container">
                        <partial name="_RecipePartial" model="recipe" />
                    </div>
                }
            </div>
        <div class="mx-1">
          <partial name="_PaginationPartial" model="@Model.Recipes" />
          </div>
        </div>
    </div>
</div>

