﻿@using System.Security.Claims
@using MyRecipe.Data.DTOs
@model MyRecipe.Data.DTOs.RecipeDetailsDTO
@{
	ViewData["Title"] = "MyRecipe - " + @Model.Name;
	int primaryImageIndex = Model.Images.FindIndex(image => image.IsPrimary = true);
	string currentUser = ((ClaimsIdentity)User.Identity).FindFirst(ClaimTypes.NameIdentifier).Value;
}

<div class="d-flex flex-row vh-94 overflow-auto">
	<div class="container">
		<div class="pb-4 pt-4">
			<div id="carouselControls" class="carousel carousel-dark slide pt-4" data-bs-ride="carousel">
				<div class="carousel-inner">
					@if (Model.Images.Count() > 0)
					{
						@for (var index = 0; index < Model.Images.Count(); index++)
						{
							string imagePath = "/img/Recipe/" + Model.Images[index].ImagePath;
							string activeImageClass = index == primaryImageIndex ? "active" : "";

							<div class="carousel-item @activeImageClass">
								<img src="@imagePath" class="carousel-image d-block w-100">
							</div>
						}
					}
					else
					{
						<div class="carousel-item active">
							<img src="/img/Recipe/no-recipe.png" class="carousel-image d-block w-100">
						</div>
					}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselControls"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselControls"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

			<div class="row justify-content-between border-bottom border-2 pt-4">
				<div class="col">
					<table>
						<tr>
							<td class="h5 mb-0" rowspan="3">
								<img class="me-1" src="/img/Category/@Model.Category.ImagePath" width="40" height="50">
							</td>
						</tr>
						<tr>
							<td class="h5 mb-0 lh-20">
								@Model.Name
							</td>
							<td rowspan="3" class="pb-2">
								@if (Model.CreatedBy == @currentUser)
								{
									<i data-bs-toggle="tooltip" data-bs-placement="top" title="Edit recipe"
									class="fal fa-pen fs-27 ms-3 hover-pointer icon-hover-color"
									onclick="ShowEditRecipeModal(@Model.Id)"></i>

									<form class="d-inline-block" method="POST" asp-controller="Recipe"
									asp-action="DeleteRecipe" asp-route-recipeId="@Model.Id">
										<i data-bs-toggle="tooltip" data-bs-placement="top" title="Delete recipe"
										class="fal fa-trash-alt fs-27 ms-2 hover-pointer icon-hover-color"
										onclick="ShowDeleteConfirmationModal(this, 'Delete recipe', 'Are you sure you want to delete recipe \'@Model.Name\'?')">
										</i>
									</form>
								}
								@if (Model.FavouriteToCurrentUser)
								{
									<i data-bs-toggle="tooltip" data-bs-placement="top" title="Remove from favourites"
									class="fas fa-heart fs-27 text-danger ms-2 hover-pointer add-to-favourites-hover-color"
									onclick="RemoveRecipeFromFavourites(@Model.Id)"></i>
								}
								else
								{
									<i data-bs-placement="top" title="Add to favourites"
									class="fal fa-heart fs-27 text-danger ms-2 hover-pointer add-to-favourites-hover-color"
									onclick="AddRecipeToFavourites(@Model.Id)"></i>
								}
							</td>
						</tr>
						<tr>
							<td class="lh-20"><small><i class="far fa-user mb-2 me-1"></i>@Model.CreatedBy</small></td>
						</tr>
					</table>
				</div>
				<div class="col-auto">
					<table>
						<tr>
							<td class="h5 mb-0" rowspan="3"><i class="fal fa-utensils fa-lg me-2"></i></td>
						</tr>
						<tr>
							<td class="h5 mb-0 lh-20">Portions</td>
						</tr>
						<tr>
							<td class="lh-20"><small>@Model.Portions</small></td>
						</tr>
					</table>
				</div>
				<div class="col-auto">
					<table>
						<tr>
							<td class="h5 mb-0" rowspan="3"><i class="fal fa-clock fa-lg me-2"></i></td>
						</tr>
						<tr>
							<td class="h5 mb-0 lh-20">Time</td>
						</tr>
						<tr>
							<td class="lh-20"><small>@Model.TimeToCook</small></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="p-4">
				@if (Model.Products.Count() > 0)
				{
					<h5>Ingredients</h5>
					@foreach (var product in Model.Products)
					{
						<div class="ps-2">
							<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
							<label class="form-check-label" for="flexSwitchCheckDefault">@product.Quantity @product.Unit
								@product.Name</label>
						</div>
					}
				}

				@if (Model.Description != null && Model.Description.Length > 0)
				{
					<h5 class="pt-4">Description</h5>
					<div class="ps-2">
						@Model.Description
					</div>
				}
			</div>
		</div>
	</div>
</div>

<div id="editRecipeModal" class="modal mt-5">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit recipe</h5>
				<button type="button" class="btn-close" onclick="HideEditRecipeModal()" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				<partial name="_CreateEditRecipePartial" model="new CreateRecipeDTO()" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="SubmitRecipeForm()">Save</button>
				<button type="button" class="btn btn-secondary" onclick="HideEditRecipeModal()">Close</button>
			</div>
		</div>
	</div>
</div>

<partial name="_DeleteConfirmationModalPartial" />
