﻿@model MyRecipe.Data.DTOs.UserRecipesDTO
@{
	ViewData["Title"] = "My Recipes";
	var search = ViewData["search"];
}

@* <div class="container-fluid sticky-top">
	<div class="row justify-content-between py-3 "> *@
<div class="d-flex flex-row vh-94 overflow-auto">
	<div class="container pt-4">
		<div class="row mx-1 justify-content-between">
			<div class="col-lg-6 align-self-center align-center">
				<h4 class="mb-0 me-2 d-inline-block">My recipes</h4>
				<button class="btn btn btn-outline-primary" onclick="ShowCreateRecipeModal()"> <i
						class="ml-5 fal fa-plus"></i>
					Create recipe</button>
			</div>
			<div class="col-lg-4 pe-0">
				<form asp-action="UserRecipes" method="GET">
					<div class="input-group">
						<input type="text" name="search" value="@search" class="form-control"
							placeholder="Search a recipe . . ." aria-label="recipe" aria-describedby="button-addon" />
						<input type="submit" class="btn btn-primary" id="button-addon" value="Search" />
						<button type="button" onclick="RedirectToPage(1, true)" class="btn btn-secondary"
							id="button-addon2">Clear</button>
					</div>
				</form>
			</div>
		</div>

			<div class="row justify-content-start pt-4">
				@foreach (var recipe in Model.UserRecipes)
				{
					<div class="col mx-1 pt-3 recipe-card-container">
						<partial name="_RecipePartial" model="recipe" />
					</div>
				}
			</div>
			<partial name="_PaginationPartial" model="@Model.UserRecipes" />
	</div>
</div>


<div id="createRecipeModal" class="modal mt-5">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Create recipe</h5>
				<button type="button" class="btn-close" onclick="HideCreateRecipeModal()" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				<partial name="_CreateEditRecipePartial" model="@Model.NewRecipe" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="SubmitRecipeForm()">Create</button>
				<button type="button" class="btn btn-secondary" onclick="HideCreateRecipeModal()">Close</button>
			</div>
		</div>
	</div>
</div>